{% extends 'partials/base.html' %}

{% block title %}
Categories
{% endblock %}

{% block content %}
<h1>Categories</h1>
<!-- Add your category list content here -->
    <div class="row">
    <div class="col">
        <h1>Categories</h1>
        <a href="{% url 'add_category' %}" class="btn btn-primary mb-3">Add Category</a>
        <ul class="list-group">
            {% for category in categories %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ category.name }}
                <div class="btn-group" role="group">
                    <a href="#" class="btn btn-sm btn-primary">Edit</a>
                    <a href="#" class="btn btn-sm btn-danger">Delete</a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
